/* Base */

body {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}

.background-black-buildlab {
    background-color: #0f0f0f;
    font-family: fontMadeTommySoft;
    color: var(--theme-ui-colors-secondary, #e1e1e6);
}

#logo-academy{
    width: 200px;
    height: auto;
}
#copyright a{
    text-decoration: none;
    color: #fff;
}
@media (max-width: 600px){
    #logo-academy{
        width: 150px;
        height: auto;
    }
    #copyright{
        font-size: 0.8em;
        margin-top: 15px;
    }
}

header{
    height: 160px;
}
@media (max-width: 600px){
    header{
        height: 120px;
    }
}

.title-landing-page{
    color: #cac33b;
    font-weight: bold;
}
@media (max-width: 768px){
    .title-landing-page{
        font-size: 1.4em;
    }
}
@media (max-width: 380px){
    .title-landing-page{
        font-size: 1.0em;
    }
}

.title-curso{
    font-size: 2.2em;
    font-weight: bold;
}
#curso-info .curso-info-item{
    font-size: 1.2em !important;
    text-align: center;
    width: 100%;
    height: 124px;
    background: #000;
    padding: 20px 8px;
    border-radius: 2px;
    margin-right: 10px;
}
#curso-info .curso-info-item:hover{
    color: #cac33b;
    cursor: pointer;
}

@media (max-width: 768px){
    .title-curso{
        font-size: 1.2em;
        margin-top: 15px !important;
        text-align: center;
    }
    .curso-description{
        font-size: 1em;
        margin-top: 5px !important;
        text-align: center;
    }
    .btn-submit {
        width: 100%;
    }
}

@media (max-width: 768px){
    #curso-info .curso-info-item{
        font-size: 1.0em !important;
        text-align: center;
        width: 50%;
        height: 120px;
        background: #000;
        padding: 10px 8px;
        border-radius: 2px;
        margin-right: 10px;
    }
}

.btn-submit {
    border: 1px solid #cac33b;
    border-radius: 2px !important;
    color: #cac33b;
    cursor: pointer;
    padding: 14px;
    height: 60px;
    transition: 0.5s all;
    text-align: center;
}

.btn-submit:hover {
    background-color: #cac33b;
    transition: 0.5s all;
    color: rgb(43, 37, 37);
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.bg-light {
    background: #f6f6f6 !important;
}

.border-2 {
    border-width: 2px;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background: #000 !important;
}

.color-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-wrap {
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.offcanvas-menu {
    position: relative;
}

.offcanvas-menu:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 21;
    background: rgba(0, 0, 0, 0.2);
}

.btn {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-primary {
    border-width: 2px;
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
    box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}

.btn.btn-primary:hover {
    top: -2px;
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;
    -webkit-box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7) !important;
    box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7) !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.bg-black {
    background: #000;
}

.form-control {
    height: 43px;
    border-radius: 30px;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-control:active,
.form-control:focus {
    border-color: #4285f4;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    padding-bottom: 20px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .site-section-heading {
        font-size: 3rem;
    }
}

.border-top {
    border-top: 1px solid #edf0f5 !important;
}

.site-footer {
    padding: 4em 0;
    background: #333333;
}

@media (min-width: 768px) {
    .site-footer {
        padding: 8em 0;
    }
}

.site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.site-footer p {
    color: #737373;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #fff;
}

.site-footer a {
    color: #999999;
}

.site-footer a:hover {
    color: white;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #fff;
}

.img-absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 60%;
    -webkit-transform: translateY(-50%) translateX(30%);
    -ms-transform: translateY(-50%) translateX(30%);
    transform: translateY(-50%) translateX(30%);
}

.img-absolute img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .img-absolute {
        position: relative;
        top: auto;
        -webkit-transform: translateY(0%) translateX(0%);
        -ms-transform: translateY(0%) translateX(0%);
        transform: translateY(0%) translateX(0%);
        margin-bottom: 30px;
    }
}

.border-primary {
    position: relative;
}

.border-primary h2 {
    font-weight: 700 !important;
}

.border-primary:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #4285f4;
}

.border-primary.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.border-primary.text-left:after {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.text-muted {
    color: #ccc !important;
    font-size: 12px;
    text-transform: uppercase;
}

.person h3 {
    font-size: 18px;
}

.ul-social-circle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-social-circle li {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.ul-social-circle li:first-child {
    margin-left: 0;
}

.ul-social-circle li span {
    width: 30px;
    height: 30px;
    background: #777;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.ul-social-circle li a span {
    color: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.ul-social-circle li a:hover span {
    background: #2b2b2b;
    color: #fff;
}

.social-media {
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    padding: 0;
}

.social-media li {
    display: inline-block;
}


.section-sub-title {
    font-size: 13px;
    color: #4285f4;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.section-title {
    color: var(--theme-ui-colors-secondary, #e1e1e6);
    font-size: 2.2em;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .section-title {
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    .section-title {
        font-size: 1.5em;
        margin-top: 50px;
    }
}

.position-relative {
    position: relative;
}

.experience {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: #007bff;
    padding: 20px;
}

@media (max-width: 991.98px) {
    .experience {
        bottom: 0px;
        right: 0px;
    }
}

.experience span {
    display: block;
}

.experience .year {
    font-weight: 900;
    color: #fff;
    font-size: 3rem;
    letter-spacing: normal;
    line-height: 1.2;
}

.experience span {
    letter-spacing: .2em;
}

.experience .caption {
    color: #fff;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.footer-subscribe .btn {
    height: 43px;
}

.feature-big h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.author-box {
    -webkit-box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #eee;
    border-left: 10px solid #4285f4;
}

.author-box *:last-child {
    margin-bottom: 0;
}

.author-box img {
    max-width: 50px;
}

.author-box blockquote {
    font-style: italic;
}

.shadow {
    -webkit-box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
}

.h-entry h2 a {
    color: #000;
    font-size: 30px;
}

@media (max-width: 991.98px) {
    .site-logo {
        top: 0;
    }
}

@media (max-width: 991.98px) {
    .main-menu {
        display: none !important;
    }
}

.overlap-image-wrap {
    position: relative;
}

.overlap-image-wrap .image-1 {
    position: relative;
}

.overlap-image-wrap .image-2 {
    max-width: 250px;
    position: absolute;
    bottom: -50px;
    right: -50px;
    z-index: 99;
}

.bg-image2 {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bg-image2.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
}

.person {
    position: relative;
}

.person figure {
    position: relative;
    margin-bottom: 0;
}

.person figure:before {
    display: none;
    position: absolute;
    content: "";
    z-index: 1;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #4285f4;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.person h2 {
    font-size: 18px;
}

.person .bio-img {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.person .bio-img img {
    position: relative;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.person .bio-img .social {
    z-index: 2;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    left: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #4285f4;
}

.person .bio-img .social a {
    display: inline-block;
    padding: 5px;
    color: #fff;
}

.person:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.person:hover .social {
    bottom: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.person:hover figure:before {
    opacity: 0;
    visibility: hidden;
}

.sub-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-weight: 700;
    color: #4285f4;
    margin-bottom: 10px;
}


/*PRELOADING------------ */

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background-color: #0f0f0f;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}