@import 'mixins'
@import 'variables'

@font-face
  font-family: $font-stack
  src: url($font-stack-url)

html,body
  font-family: $font-stack, sans-serif
  background: $black
  margin: 0
  padding: 0
  outline: none
  z-index: 100

//NAVBAR
@import 'components/navbar'
//BACKGROUND VIDEO
@import 'components/bg-video'
//SOCIAL MEDIA
@import 'components/social-media'
//CONTATO
@import 'components/contato'
//TEAM
@import 'components/team'
//EMAIL LIST
@import 'components/email-list'
//FOOTER
@import 'components/footer'
//LINKS UTEIS
@import 'components/links-uteis'