#logo-spark
  width: 150px
  height: auto
#logo-gowinners
  width: 150px
  height: auto
#logo-brflor
  width: 150px
  height: auto
.conectados-img
  img
    filter: grayscale(1)
    cursor: pointer
  &:hover
    img
      filter: grayscale(0)