/* CSS SKILLS */

#skills
  height: 500px

#card-web
  background: url('../img/skills/web.png') !important
#card-mobile
  background: url('../img/skills/mobile.png') !important
#card-ui
  background: url('../img/skills/ui.png') !important
#card-api
  background: url('../img/skills/api.png') !important

#skills
  .card
    width: 240px
    height: 320px
    color: #fff
    border-radius: 2px
    padding: 0px 10px
    margin: 20px 20px 20px 20px
    transition: all 0.5s
    &:hover
      cursor: pointer
      border: 1px solid #008e92
      transform: scale(1.02)
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,1)
      .content
        .card-title
          color:#008e92
        .card-description
          opacity: 1
          transition: 0.5s
          transform: translateY(220)
    .content
      height: 100%
      display: flex
      flex-direction: column
      justify-content: flex-end
      .card-description
        font-size: 14px
        color:#dad6d6
        // transition-property: display
        // transition-duration: 0.5s
        // transition-timing-function: linear
        // transition-delay: 0.5s
